# Godot 4+ specific ignores
.godot/
.idea/
GameExports/
android/build/.gradle/
android/build/assets/
android/build/build/
android/build/res/
android/build/src/
android/build/libs/

Utils.Key.cs
export_presets.cfg
qodana.yaml
